{% load i18n %} {% load horillafilters %} {% load static %}
<div class="d-flex justify-content-end">
	<div class="oh-btn-group mb-4">
		<a type="submit" hx-get="{% url 'file-upload' document.id %}" hx-target="#objectCreateModalTarget"
			data-toggle="oh-modal-toggle" data-target="#objectCreateModal" title="Upload file"
			class="oh-btn oh-btn--warning w-100">
			<ion-icon name="attach-outline"></ion-icon>
		</a>
		{% if document.document %}
			{% if perms.horilla_documents.change_documentrequest %}
				{% if document.status == "approved" %}
					<a class="oh-btn oh-btn--success w-100 oh-btn--disabled" title="{% trans 'Approved' %}">
						<ion-icon class="me-1" name="checkmark-outline"></ion-icon>
					</a>
				{% else %}
					<a hx-get="{% url 'document-approve' document.id %}"
						hx-vals='{
							"refresh_url": "{% url "view-file" document.id %}",
							"hx_target": "#viewFile"
						}'
						hx-on-htmx-after-request="reloadMessage(this);"
						title="{% trans 'Approve' %}"
						class="oh-btn oh-btn--success w-100">
						<ion-icon class="me-1" name="checkmark-outline"></ion-icon>
					</a>
				{% endif %}
				{% if document.status == "rejected" %}
					<a class="oh-btn oh-btn--danger w-100 oh-btn--disabled" title="{% trans 'Rejected' %}">
						<ion-icon class="me-1" name="close-circle-outline"></ion-icon>
					</a>
				{% else %}
					<a type="submit" hx-get="{% url 'document-reject' document.id %}" hx-target="#rejectFileForm"
						data-target="#rejectFileModal" data-toggle="oh-modal-toggle" title="{% trans 'Reject' %}"
						class="oh-btn oh-btn--danger w-100">
						<ion-icon class="me-1" name="close-circle-outline"></ion-icon>
					</a>
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
</div>
{% if document.document %}
	<div class="modal-body" {% if document.status == "rejected" %} style="border: 5px solid red;" {% endif %}>
		<!-- Display the file content based on the file type -->
		{% if file_content %}
			{% if file_extension == 'pdf' %}
				<iframe src="{% url 'serve-file' document.id %}" width="100%" height="500px" style="border: none;"></iframe>
			{% elif file_extension == 'txt' %}
				<embed src="{% url 'serve-file' document.id %}" type="{{ content_type }}" width="100%" height="500px" />
			{% elif file_extension == 'jpg' or file_extension == 'jpeg' or file_extension == 'png' or file_extension == 'webp' or file_extension == 'gif' %}
				<div class="container text-center">
					<img src="{% url 'serve-file' document.id %}" alt="File Preview" class="img-fluid"
						style="display: block; width: 100%; height: auto; max-height: 500px; margin: auto;" />
				</div>
			{% else %}
				<div class="oh-not-found text-center">
					<img style="width: 100px; height: 100px;" src="{% static 'images/ui/document.png' %}" class="mb-3" alt="No preview" />
					<h3 class="oh-404__subtitle">{% trans "Preview not available for this file type." %}</h3>
					<p>{% trans "File type: " %} <b>{{ file_extension|upper }}</b></p>
					<div class="d-flex justify-content-center mt-3">
						<a href="{% url 'serve-file' document.id %}" download="{{document.title}}" class="oh-btn oh-btn--primary">
							<ion-icon name="download-outline" class="me-1"></ion-icon>{% trans "Download" %}
						</a>
					</div>
				</div>
			{% endif %}
		{% else %}
			<div class="oh-not-found text-center">
				<img style="width: 150px; height: 150px;" src="{% static 'images/ui/document.png' %}" class="oh-404__image mb-4" alt="File not found" />
				<h3 class="oh-404__subtitle">{% trans "File not found or could not be read." %}</h3>
			</div>
		{% endif %}
	</div>
	{% if document.status == 'rejected' %}
		<h2 class="oh-label"> <b>{% trans "Reject Reason: " %}</b></h2>
		<p class="ms-4">{{document.reject_reason}}</p>
	{% endif %}
{% else %}
	<div class="oh-not-found">
		<img style="width: 150px; height: 150px;" src="{% static 'images/ui/document.png' %}" class="oh-404__image mb-4"
			alt="Page not found. 404." />
		<h3 class="oh-404__subtitle">
			{% trans "No Document to view." %}
		</h3>
	</div>
{% endif %}
