{% load i18n horillafilters %}
{% if messages %}
<div class="oh-wrapper">
    {% for message in messages %}
    <div class="oh-alert-container">
        <div class="oh-alert oh-alert--animated {{message.tags}}">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="oh-payslip__summary">
    <div class="oh-payslip__user-detail">
        <h3 class="oh-payslip__employee-title">
            {% trans "Employee Details" %}
        </h3>
        <ul class="oh-payslip__employee-details">
            <li class="oh-payslip__employee-detail">
                <span class="oh-payslip__employee-detail-title">{% trans "Employee ID" %}</span>
                <span class="oh-payslip__employee-detail-value">{{employee.badge_id}}</span>
            </li>
            <li class="oh-payslip__employee-detail">
                <span class="oh-payslip__employee-detail-title">{% trans "Employee Name" %}</span>
                <span class="oh-payslip__employee-detail-value">{{employee}}</span>
            </li>
            <li class="oh-payslip__employee-detail">
                <span class="oh-payslip__employee-detail-title">{% trans "Department" %}</span>
                <span
                    class="oh-payslip__employee-detail-value">{{employee.employee_work_info.department_id.department}}</span>
            </li>
            <li class="oh-payslip__employee-detail">
                <span class="oh-payslip__employee-detail-title">{% trans "Bank Acc./Cheque No." %}</span>
                <span class="oh-payslip__employee-detail-value">{{employee.employee_bank_details.account_number}}</span>
            </li>
        </ul>
    </div>

    <div class="oh-payslip__netpay" style="text-align:left; border-radius: 15px; border: 1px solid hsl(213,22%,84%);">
        <div style="border-radius: 15px; background-color: #d2f8d7; padding: 10px; border-left: 3px solid #00cc66;">
            <span class="oh-payslip__netpay-amount">{{ net_pay|floatformat:2|currency_symbol_position }}</span>
            <span class="oh-payslip__netpay-title">{% trans "Employee Net Pay" %}</span>
        </div>
        <div class="payslip__netpay__summary">
            <span class="oh-payslip__netpay-title">{% trans "Actual Basic Pay" %}
                <small style="margin-left:36px; font-weight:bold;">:
                    {{instance.contract_wage|currency_symbol_position}}</small>
            </span>
            <span class="oh-payslip__netpay-title">{% trans "Paid Days" %}
                <small style="margin-left:86px;font-weight:bold;">: {{paid_days}}</small>
            </span>
            <span class="oh-payslip__netpay-title">{% trans "LOP Days" %}
                <small style="margin-left:93px ;font-weight:bold;">: {{unpaid_days}}</small>
            </span>
            <span class="oh-payslip__netpay-title">
                {% trans "Updated Basic Pay" %}
                <small style="margin-left:20px;font-weight:bold;">:
                    {{basic_pay|floatformat:2|currency_symbol_position}}<br>
                    <i style="font-style: italic; margin-left: 10px; font-weight: normal;">
                        <ion-icon name="information-circle-outline" style="color:blue;"></ion-icon>
                        {% trans "The payslip is calculated based on the updated basic pay" %}
                    </i>
                </small>
            </span>
            <span class="oh-payslip__netpay-title">
                {% trans "Taxable Gross Pay" %}
                <small style="margin-left:20px;font-weight:bold;">:
                    {{taxable_gross_pay|floatformat:2|currency_symbol_position}}<br>
                    <i style="font-style: italic; margin-left: 10px; font-weight: normal;">
                        <ion-icon name="information-circle-outline" style="color:blue;"></ion-icon>
                        {% trans "taxable amount" %}
                    </i>
                </small>
            </span>
        </div>
    </div>
</div>
<!-- End of Payslip Table -->

<!-- Payslip Table -->
<div class="oh-payslip__table-container" style="margin-top:0.5rem">
    <table class="oh-payslip__table">
        <thead class="oh-payslip__table-thead">
            <tr class="oh-payslip__table-row">
                <th class="oh-payslip__table-th">{% trans "Allowances" %}</th>
                <th class="oh-payslip__table-th">{% trans "Amount" %}</th>
                <th class="oh-payslip__table-th">
                    {% if perms.payroll.add_allowance and instance.status != "paid" %}
                    <button title="{% trans 'Add Allowance' %}"
                        class="oh-btn oh-btn--secondary-outline oh-stop-prop oh-accordion-meta__btn p-2"
                        hx-get="{% url 'add-bonus' %}?employee_id={{employee.id}}&payslip_id={{instance.id}}"
                        hx-target="#objectCreateModalTarget" data-target="#objectCreateModal"
                        data-toggle="oh-modal-toggle">
                        <ion-icon class="md hydrated" name="add-outline" role="img" aria-label="add outline"></ion-icon>
                    </button>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody class="oh-payslip__table-tbody">
            <tr class="oh-payslip__table-tr">
                <td class="oh-payslip__table-td" style="padding-left: 25px;"
                    title="{% trans 'Some deductions will update basic pay before payslip calculation starts, eg: LOP is Deduducted from basic pay if `Deduct leave from basic pay` field is enabled on the contract, and also with the update compensation deduction through' %}">
                    {% trans "Basic Pay" %}
                </td>
                <td class="oh-payslip__table-td" colspan="2">
                    {{basic_pay|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% for allowance in allowances %}
            <tr>
                <td class="oh-payslip__table-td" style="padding-left: 25px;">{{allowance.title}}</td>
                <td class="oh-payslip__table-td">
                    {{allowance.amount|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="oh-payslip__table-tfoot">
            <tr class="oh-payslip__table-tr">
                <th class="oh-payslip__table-tf oh-label__info">
                    {% trans "Total Gross Pay" %}
                    <span class="oh-info mb-1"
                        title="{% trans 'Some Deduction will update the total gross pay using the deductions that are enabled update compensation' %}"></span>
                </th>
                <th class="oh-payslip__table-tf">
                    {{gross_pay|floatformat:2|currency_symbol_position}}
                </th>
            </tr>
        </tfoot>
    </table>

    <table class="oh-payslip__table">
        <thead class="oh-payslip__table-thead">
            <tr class="oh-payslip__table-row">
                <th class="oh-payslip__table-th">{% trans "Deductions" %}</th>
                <th class="oh-payslip__table-th">{% trans "Amount" %}</th>
                <th class="oh-payslip__table-th">
                    {% if perms.payroll.add_deduction and instance.status != "paid" %}
                    <button title="{% trans 'Add Deduction' %}"
                        class="oh-btn oh-btn--secondary-outline oh-stop-prop oh-accordion-meta__btn p-2"
                        hx-get="{% url 'add-payslip-deduction' %}?employee_id={{employee.id}}&payslip_id={{instance.id}}"
                        hx-target="#objectCreateModalTarget" data-target="#objectCreateModal"
                        data-toggle="oh-modal-toggle">
                        <ion-icon class="md hydrated" name="add-outline" role="img" aria-label="add outline"></ion-icon>
                    </button>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody class="oh-payslip__table-tbody">
            <tr class="oh-payslip__table-tr">
                <td class="oh-payslip__table-td oh-label__info" style="padding-left: 25px;">
                    {% trans "Loss of Pay" %}
                    <span class="oh-info mb-1"
                        title="{% trans 'Deductions from basic pay including: Undertime, Late, and Unpaid Leaves. This amount is not included in Total Deductions as it is already deducted from the basic pay.' %}"></span>
                </td>
                <td class="oh-payslip__table-td">
                    {{loss_of_pay|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            <!-- Separator line to distinguish Loss of Pay from other deductions -->
            <tr>
                <td colspan="3" style="border-bottom: 2px dashed #ccc; padding: 0;"></td>
            </tr>
            {% for deduction in basic_pay_deductions %}
            <tr class="oh-payslip__table-tr" style="color: gray;">
                <td class="oh-payslip__table-td">
                    {{deduction.title}}
                    <i style="font-style: italic; margin-left: 10px; font-weight: normal;" title="{% trans " Basic Pay
                        Deductions" %}">
                        <ion-icon name="information-circle-outline" style="color:blue;" role="img" class="md hydrated"
                            aria-label="information circle outline"></ion-icon>
                    </i>
                </td>
                <td class="oh-payslip__table-td">
                    {{deduction.amount|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% endfor %}
            {% for deduction in gross_pay_deductions %}
            <tr class="oh-payslip__table-tr" style="color: gray;">
                <td class="oh-payslip__table-td">
                    {{deduction.title}}
                    <i style="font-style: italic; margin-left: 10px; font-weight: normal;" title="{% trans " Gross Pay
                        Deductions" %}">
                        <ion-icon name="information-circle-outline" style="color:blue;" role="img" class="md hydrated"
                            aria-label="information circle outline"></ion-icon>
                    </i>
                </td>
                <td class="oh-payslip__table-td">
                    {{deduction.amount|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% endfor %}
            {% for deduction in pretax_deductions %}
            <tr class="oh-payslip__table-tr">
                <td class="oh-payslip__table-td" style="padding-left: 25px;">{{deduction.title}}</td>
                <td class="oh-payslip__table-td">
                    {{deduction.amount|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% endfor %}
            {% for deduction in post_tax_deductions %}
            <tr class="oh-payslip__table-tr">
                <td class="oh-payslip__table-td" style="padding-left: 25px;">{{deduction.title}}</td>
                <td class="oh-payslip__table-td">
                    {{deduction.amount|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% endfor %}
            {% for deduction in tax_deductions %}
            <tr class="oh-payslip__table-tr">
                <td class="oh-payslip__table-td" style="padding-left: 25px;">{{deduction.title}}</td>
                <td class="oh-payslip__table-td">
                    {{deduction.amount|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% endfor %}
            {% for deduction in net_deductions %}
            <tr class="oh-payslip__table-tr" style="color: gray;">
                <td class="oh-payslip__table-td">
                    {{deduction.title}}
                    <i style="font-style: italic; margin-left: 10px; font-weight: normal;" title="{% trans " Net Pay
                        Deductions" %}">
                        <ion-icon name="information-circle-outline" style="color:blue;" role="img" class="md hydrated"
                            aria-label="information circle outline"></ion-icon>
                    </i>
                </td>
                <td class="oh-payslip__table-td">
                    {{deduction.amount|floatformat:2|currency_symbol_position}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="oh-payslip__table-tfoot">
            <tr class="oh-payslip__table-tr">
                <th class="oh-payslip__table-tf oh-label__info">
                    {% trans "Total Deductions" %}
                    <span class="oh-info mb-1"
                        title="{% trans 'Some deductions are not included in the total deductions because they are given as updated compensations. These deductions may be applied before the main calculation begins, such as from the basic pay or gross pay, while others are deducted after calculating the net pay.' %}"></span>
                </th>
                <th class="oh-payslip__table-tf">
                    {{total_deductions|floatformat:2|currency_symbol_position}}
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- End of Payslip Table -->

<!-- Calculation Breakdown Section (Dropdown) -->
<div class="oh-payslip__table-container" style="margin-top: 1rem;">
    <details style="background-color: #f8f9fa; border-radius: 10px; border: 1px solid #dee2e6;">
        <summary style="padding: 15px; cursor: pointer; font-weight: 600; color: #495057; font-size: 1rem; list-style: none; display: flex; align-items: center; justify-content: space-between;">
            <span>
                <ion-icon name="calculator-outline" style="margin-right: 5px;"></ion-icon>
                {% trans "Calculation Breakdown" %}
            </span>
            <ion-icon name="chevron-down-outline" class="breakdown-chevron" style="transition: transform 0.2s;"></ion-icon>
        </summary>
        <div style="padding: 0 15px 15px 15px;">
            <!-- Two Column Layout -->
            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
                
                <!-- LEFT COLUMN - Calculation Details -->
                <div>
                    <!-- Rate Calculation -->
                    <div style="margin-bottom: 15px; padding: 10px; background-color: #e3f2fd; border-radius: 5px; border-left: 4px solid #2196f3;">
                        <h4 style="font-size: 0.9rem; color: #1565c0; margin-bottom: 8px;">
                            <ion-icon name="cash-outline" style="margin-right: 5px;"></ion-icon>
                            {% trans "Rate Calculation" %}
                        </h4>
                        <table style="width: 100%; font-size: 0.85rem;">
                            <tr>
                                <td style="padding: 4px 0; color: #495057;">{% trans "Hourly Rate" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500;">{{ hourly_rate|default:contract_wage|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0; color: #495057;">{% trans "Min Work Hours/Day" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500;">{{ min_work_hours|default:"8"|floatformat:2 }} {% trans "hrs" %}</td>
                            </tr>
                            <tr style="border-top: 1px dashed #90caf9;">
                                <td style="padding: 6px 0; color: #1565c0; font-weight: 600;">{% trans "Daily Rate" %}</td>
                                <td style="padding: 6px 0; text-align: right; font-weight: 600; color: #1565c0;">{{ daily_rate|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                        </table>
                    </div>
                    
                    <!-- Expected Full Pay Section -->
                    <div style="margin-bottom: 15px; padding: 10px; background-color: #e8f5e9; border-radius: 5px; border-left: 4px solid #4caf50;">
                        <h4 style="font-size: 0.9rem; color: #2e7d32; margin-bottom: 8px;">
                            <ion-icon name="wallet-outline" style="margin-right: 5px;"></ion-icon>
                            {% trans "Expected Full Pay" %}
                        </h4>
                        <table style="width: 100%; font-size: 0.85rem;">
                            <tr>
                                <td style="padding: 4px 0; color: #495057;">{{ daily_rate|floatformat:2|currency_symbol_position }} × {{ total_working_days|default_if_none:0|floatformat:0 }} {% trans "days" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 600; color: #2e7d32;">{{ expected_full_pay|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                        </table>
                    </div>
                    
                    <!-- Holidays & Non-Working Days Section -->
                    <div style="margin-bottom: 10px; padding: 10px; background-color: #fff; border-radius: 5px; border: 1px solid #dee2e6;">
                        <h4 style="font-size: 0.9rem; color: #6c757d; margin-bottom: 8px;">
                            <ion-icon name="calendar-clear-outline" style="margin-right: 5px;"></ion-icon>
                            {% trans "Non-Working Days Info" %}
                        </h4>
                        <table style="width: 100%; font-size: 0.85rem;">
                            <tr>
                                <td style="padding: 4px 0; color: #e65100;">
                                    <ion-icon name="sunny-outline" style="margin-right: 5px;"></ion-icon>
                                    {% trans "Holidays" %}
                                </td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500; color: #ff9800;">{{ holidays|length|default:0 }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0; color: #c2185b;">
                                    <ion-icon name="bed-outline" style="margin-right: 5px;"></ion-icon>
                                    {% trans "Non-Working Days" %}
                                </td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500; color: #e91e63;">{{ weekends|length|default:0 }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <!-- RIGHT COLUMN - Days & Schedule -->
                <div>
                    <!-- Amount Breakdown -->
                    <div style="padding: 10px; background-color: #fff; border-radius: 5px; border: 1px solid #dee2e6;">
                        <h4 style="font-size: 0.9rem; color: #6c757d; margin-bottom: 8px;">
                            <ion-icon name="receipt-outline" style="margin-right: 5px;"></ion-icon>
                            {% trans "Amount Breakdown" %}
                        </h4>
                        <table style="width: 100%; font-size: 0.85rem;">
                            <tr>
                                <td style="padding: 4px 0; color: #495057;">{% trans "Expected Full Pay" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500;">{{ expected_full_pay|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0; color: #dc3545;">{% trans "Loss of Pay" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500; color: #dc3545;">- {{ loss_of_pay|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                            <tr style="border-top: 1px dashed #dee2e6;">
                                <td style="padding: 6px 0; color: #495057; font-weight: 600;">{% trans "Basic Pay" %}</td>
                                <td style="padding: 6px 0; text-align: right; font-weight: 600;">{{ basic_pay|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- Days Breakdown -->
                    <div style="margin-bottom: 15px; padding: 10px; background-color: #fff; border-radius: 5px; border: 1px solid #dee2e6;">
                        <h4 style="font-size: 0.9rem; color: #6c757d; margin-bottom: 8px;">
                            <ion-icon name="calendar-outline" style="margin-right: 5px;"></ion-icon>
                            {% trans "Days Breakdown" %}
                        </h4>
                        <table style="width: 100%; font-size: 0.85rem;">
                            <tr>
                                <td style="padding: 4px 0; color: #495057;">{% trans "Total Working Days" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500;">{{ total_working_days|default_if_none:0|floatformat:0 }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0; color: #28a745;">{% trans "Paid Days" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500; color: #28a745;">{{ paid_days|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0; color: #dc3545;">{% trans "LOP Days (Unpaid)" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500; color: #dc3545;">{{ unpaid_days|floatformat:2 }}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- LOP Breakdown Section -->
                    {% if loss_of_pay and loss_of_pay > 0 %}
                    <div style="margin-top: 5px; padding: 10px; background-color: #fff; border-radius: 5px; border: 1px solid #dee2e6;">
                        <h4 style="font-size: 0.9rem; color: #6c757d; margin-bottom: 8px;">
                            <ion-icon name="remove-circle-outline" style="margin-right: 5px;"></ion-icon>
                            {% trans "LOP Breakdown" %}
                        </h4>
                        <table style="width: 100%; font-size: 0.85rem;">
                            <tr>
                                <td style="padding: 4px 0; color: #495057;">{% trans "Absent Days" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500;">{{ absent_days|default:0|floatformat:2 }} {% trans "days" %}</td>
                            </tr>
                            <tr style="font-size: 0.8rem; color: #999;">
                                <td style="padding: 0 0 4px 10px;">{{ absent_days|default:0|floatformat:2 }} × {{ daily_rate|floatformat:2|currency_symbol_position }}</td>
                                <td style="padding: 0 0 4px 0; text-align: right; color: #dc3545;">= {{ absent_deduction|default:0|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0; color: #495057;">{% trans "Undertime/Late" %}</td>
                                <td style="padding: 4px 0; text-align: right; font-weight: 500;">{{ undertime_hours|default:0|floatformat:2 }} {% trans "hrs" %}</td>
                            </tr>
                            <tr style="font-size: 0.8rem; color: #999;">
                                <td style="padding: 0 0 4px 10px;">{{ undertime_hours|default:0|floatformat:2 }} × {{ hourly_rate|floatformat:2|currency_symbol_position }}</td>
                                <td style="padding: 0 0 4px 0; text-align: right; color: #ff9800;">= {{ undertime_deduction|default:0|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                            <tr style="border-top: 1px dashed #dee2e6;">
                                <td style="padding: 6px 0; color: #dc3545; font-weight: 600;">{% trans "Total Loss of Pay" %}</td>
                                <td style="padding: 6px 0; text-align: right; font-weight: 600; color: #dc3545;">{{ loss_of_pay|floatformat:2|currency_symbol_position }}</td>
                            </tr>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
            
            <!-- Formula -->
            <div style="margin-top: 15px; padding: 10px; background-color: #e9ecef; border-radius: 5px; font-size: 0.8rem; color: #6c757d;">
                <strong>{% trans "Formula" %}:</strong><br>
                {% trans "Daily Rate" %} = {% trans "Hourly Rate" %} × {% trans "Minimum Work Hours" %}<br>
                {% trans "Loss of Pay" %} = ({% trans "Absent Days" %} × {% trans "Daily Rate" %}) + ({% trans "Undertime Hours" %} × {% trans "Hourly Rate" %})<br>
                {% trans "Basic Pay" %} = ({% trans "Total Working Days" %} × {% trans "Daily Rate" %}) - {% trans "Loss of Pay" %}<br>
                {% trans "Net Pay" %} = {% trans "Gross Pay" %} - {% trans "Total Deductions" %}
            </div>
        </div>
    </details>
</div>
<style>
    details[open] .breakdown-chevron {
        transform: rotate(180deg);
    }
    details[open] .lop-chevron {
        transform: rotate(180deg);
    }
    details summary::-webkit-details-marker {
        display: none;
    }
</style>
<!-- End of Calculation Breakdown -->

<!-- Payslip Payable -->
<div class="oh-payslip__net-payable">
    <div class="oh-payslip__net-payable-left">
        <h2 class="oh-payslip__net-payable-title">
            {% trans "Total Net Payable" %}
        </h2>
        <p class="oh-payslip__net-payable-subtext">
            {% trans "Gross Earnings - Total Deductions" %}
        </p>
    </div>
    <div class="oh-payslip__net-payable-right">
        <span class="oh-payslip__net-payable-amount">{{net_pay|floatformat:2|currency_symbol_position}}</span>
    </div>
</div>